#parent{
    height:500px;
    border: 1px solid black;
        background-color: white;
        padding: 5px;
        
   }

   #nav{
    width:100%;
    height:50px;
    background-color: black;
    display:flex;
        
   }
   
   #nav>div{
    border: 1px solid black;
    width: auto;
   }


   #nav>div:nth-child(1){
    width: 10%;
    margin-left: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    

   }

   #nav>div:nth-child(2){
   width:50%;
   display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  #nav>div:nth-child(3){
    width: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    margin-left: 120px;
    
  }

  #navmiddle>div{
   width:auto;
   border: 1px solid black;
   display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
  }

  #navright>div>button{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
  }

  img{
    width:100%;
  }

  #navright>div{
    border:1px solid black;
    width:auto;
    font-size: auto;
  }
  
  #navmiddle>div>button{
    font-size: auto ; 
    background-color: black; 
    color: aliceblue;
  }

  #navmiddle>div>select{
    background-color:black; 
    color: black; 
    border: black;
  }
  
  #navright>select{
    background-color:black; 
    color: white; 
    border: black;
  }
  
  #image1>button{
   
   background-color: black;
  }
  
  #navright>div{
    color:white
  }
  
  select{
      background-color:black; 
      color: white; 
      border: black;
    }
  
  #nav{
    position:fixed;
  }

  #navright>div>select{
      background-color:black; 
      color: white; 
      border: black;
    }
   
    .Appcenter>button{
      background-color:black ;
      color:white; 
      border:1px solid white;
      height: 35px; 
      border-radius: 5px;
    }
    
    .Signup>button{
      background-color:rgb(0,188,152) ;
      color:white; 
      border-radius: 5px; 
      height: 35px;
    }
    
    #navmiddle>div>button>img{
      width:auto;
    }

    #nav{
      margin:0px;
      position:fixed;
    }

    #navmiddle>div>button{
        font-size: 20px;
    }